In [4]:
!pip install sqlalchemy==1.3.9

!pip install ibm_db_sa

!pip install ipython-sql

%load_ext sql

%sql sqlite:///chinook.db

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 7.1 MB/s eta 0:00:0000:0100:01m
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-macosx_10_9_x86_64.whl size=1153917 sha256=cce6564ccbc3cc443bdd600406677a065696a7ea512d1367df5f11a516b85ae3
  Stored in directory: /Users/PatnanaSantosh/Library/Caches/pip/wheels/5b/43/0d/de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.8-py3-none-any.whl (30 kB)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.3.tar.gz (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 8.2 MB/s eta 0:00:00a 0:00:01m
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: sqlalchemy>=0.7.3 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ibm_db_sa) (1.3.9)
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (pyproject.toml) ... done
  Created wheel for ibm-db: filename=ibm_db-3.1.3-cp39-cp39-macosx_10_15_x86_64.whl size=32831968 sha256=f1399587ca60ff62154406210f88d6ae49fc48da7d4a35a03f62c86744c249f1
  Stored in directory: /Users/PatnanaSantosh/Library/Caches/pip/wheels/3d/6e/19/64e70ce3dde2ccda5c9b35bd6a313a39e46f6af0222c75cc5f
Successfully built ibm-db
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.1.3 ibm_db_sa-0.3.8
Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython>=1.0 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: pygments in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: appnope in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: matplotlib-inline in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/PatnanaSantosh/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13695 sha256=b925f59766a16f8dc2c5b6ec51acc94f02aab02c09dbaa88faebe598f650728b
  Stored in directory: /Users/PatnanaSantosh/Library/Caches/pip/wheels/75/f7/28/77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

In [23]:
%%sql

SELECT

  name

FROM

  sqlite_master

WHERE

  type='table'

 * sqlite:///Hospitalinfo(1).db
   sqlite:///chinook.db
Done.

[('Hospital',)]

In [46]:
%load_ext sql

%sql sqlite:///chinook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [47]:
%%sql

SELECT

  name

FROM

  sqlite_master

WHERE

  type='table'

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',),
 ('Student',),
 ('Booktable1',),
 ('Movies',),
 ('indian_startup_funding',),
 ('Chicago_Crime_Data',),
 ('Census_Data',),
 ('Chicago_Public_Schools',),
 ('Fam4',)]

In [53]:
#Problem 1: Find the total number of crimes recorded in the CRIME table
%sql SELECT COUNT(*) AS Total_Crime FROM Chicago_Crime_Data

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[(533,)]

In [54]:
#Problem 2: List community areas with per capita income less than 11000.
%sql SELECT COMMUNITY_AREA_NAME FROM Census_Data WHERE PER_CAPITA_INCOME<11000

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [56]:
#Problem 3: List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE Description LIKE '%minor%'

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[('HL266884',), ('HK238408',)]

In [57]:
#Problem 4: List all kidnapping crimes involving a child?
%sql SELECT * FROM Chicago_Crime_Data WHERE PRIMARY_TYPE LIKE "%KIDNAPPING%" AND DESCRIPTION LIKE "%CHILD%"

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[(5276766, 'HN144152', '01/26/2007 10:05:00 AM', '050XX W VAN BUREN ST', 1792, 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, 20, 1143050, 1897546, 2007, '02/28/2018 03:56:25 PM', 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [96]:
#Problem 5: What kind of crimes were recorded at schools?
%sql SELECT DISTINCT(PRIMARY_TYPE) AS KindsofCrime FROM Chicago_Crime_Data WHERE LOCATION_DESCRIPTION LIKE "%SCHOOL%"

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

In [61]:
#Problem 6: List the average safety score for all types of schools.
%sql SELECT AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[(49.50487329434698,)]

In [62]:
#Problem 7: List 5 community areas with highest % of households below poverty line.
%sql SELECT COMMUNITY_AREA_NAME FROM Census_Data ORDER BY PERCENTHOUSEHOLDSBELOWPOVERTY DESC LIMIT 5;

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [95]:
#Problem 8: Which community area(number) is most crime prone?
%sql Select C.Community_area_Number,Community_area_name, COUNT(CC.COMMUNITY_AREA_NUMBER) AS FREQUENCY from 
Census_Data C,Chicago_crime_data CC where C.Community_Area_number=CC.Community_area_Number 
Group BY CC.COMMUNITY_AREA_NUMBER ORDER BY COUNT(CC.COMMUNITY_AREA_NUMBER) DESC LIMIT 1

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[(25, 'Austin', 43)]

In [92]:
#Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

%sql SELECT COMMUNITY_AREA_NAME FROM Census_Data WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM Census_Data);

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[('Riverdale',)]

In [85]:
#Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?
%sql SELECT COMMUNITY_AREA_NAME FROM Census_Data WHERE COMMUNITY_AREA_NUMBER = (SELECT CCD.COMMUNITY_AREA_NUMBER 
FROM Chicago_Crime_Data AS CCD 
GROUP BY CCD.COMMUNITY_AREA_NUMBER ORDER BY COUNT(CCD.COMMUNITY_AREA_NUMBER) DESC LIMIT 1)LIMIT 1

   sqlite:///Hospitalinfo(1).db
 * sqlite:///chinook.db
Done.

[('Austin',)]